extends layout

block content
	#wrapper

		#videoContainer(width='50%')
			//video#videoPlayer(width='960', height='540', style='height:100%;min-width:100%;min-height: 100%;')
				//source(src='/images/house.mp4')
	
		#uiContainer

