body {
	padding: 0px;
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#wrapper {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}

#demo_canvas {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
}

#container {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}	

#badge {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	width: 200px;
  	height: 200px;
}

.mejs-container {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}